<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="icon" href="image/weather.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}

        {{errMsg}}
    </div>


    {{>footer}}

</body>

</html>
